.container {
  h1 {
    max-width: 600px;
  }

  a {
    max-width: 400px;
    width: 100%;
    margin-top: 16px;
  }

  @media (max-width: 1024px) {
    h1 {
      max-width: 100%;
      max-height: 100%;
    }
  }

  @media (max-width: 425px) {
    a {
      margin: 8px 0 20px 0;
    }
  }
}