.container {

  > :nth-child(2) {
    flex: none;
  }

  h1 {
    margin-bottom: 16px;
    max-width: 600px;
  }

  a {
    max-width: 400px;
    width: 100%;
  }

  img {
    max-width: 536px;
    max-height: 536px;
  }
}