.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 28px;
  background-color: var(--blue-5-opacity);
  border-radius: 16px;

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--blue);
  }

  p {
    font-size: 1rem;
  }
}