.cardsList {
    display: flex;
    gap: 32px;
    justify-content: center;

    @media (max-width: 1280px) {
        gap: 40px;
    }

    @media (max-width: 960px) {
        flex-direction: column;
    }
}
