.container {
  display: flex;

  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }

    50% {
      transform: scale(1.2, 1.2);
    }

    100% {
      transform: scale(1, 1);
    }
  }
}

.stepsControls {
  max-width: 375px;
  width: 100%;
  margin: 60px auto 0;
  padding: 0 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1199px) {
    margin-top: 30px;
  }

  @media (max-height: 563px) {
    margin: 17px auto 0;
  }
}

.prevStep,
.nextStep {
  color: #4a4a4a;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  background-color: transparent;
  border: none;

  span {
    text-decoration-line: underline;
  }

  &:disabled {
    color: #4a4a4a80;
  }
}

.prevStep {
  &:before {
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    transform: rotate(-135deg);
    vertical-align: middle;
    width: 0.45em;
    margin-right: 24px;
  }
}

.nextStep {
  &:after {
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    transform: rotate(45deg);
    vertical-align: middle;
    width: 0.45em;
    margin-left: 24px;
  }
}

.mainContentWrap {
  width: 100%;
  padding: 132px 4%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (min-height: 815px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.macBg {
  max-width: 1180px;
  height: auto;
  width: 100%;
  padding: 7% 4% 4% 13%;

  @media (max-height: 747px) {
    width: 85%;
    padding: 10% 12% 26% 19%;
  }

  @media (max-height: 563px) {
    width: 85%;
    padding: 10% 12% 26% 19%;
  }
}
