@import '../breakpoints.less';

.globalHeaderLinks {
  display: flex;
  gap: 12px;
  padding-left: 7%;
  padding-right: 28px;
  background-color: var(--dark-blue);

  @media (max-width: 1280px) {
    padding-left: 4%;
    padding-right: 0;
    gap: 0;
  }

  @media (max-width: @menuTransitionMaxWidthBreakpoint) {
    flex-direction: column;
    padding: 0 0 24px 0px;
    gap: 0;
    width: 100%;
    height: fit-content;
  }
}

.hideOnMobile {
  @media(max-width: 768px) {
    display: none;
  }
}

.longLinkList {
  @media(max-width: @menuTransitionMaxWidthBreakpoint) {
    max-height: 300px;
    overflow: auto;
    padding-right: 12px;
  }
}

.seeAllButton {
  color: var(--white);
  background-color: transparent;
  border: none;
  font-size: 0.875rem;
  cursor: pointer;
  text-align: right;
  margin-left: 8px;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.accordionDetails {
  padding: 0 !important;
}

.imageWrapper {
  padding: 8px;
  background-color: #5072eb40;
  border: 1px solid #5072eb80;
  border-radius: 12px;
  max-width: 400px;
}

.menuBackground {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.columnWithTwoRows {
  display: flex;
  flex-direction: column;

  @media (min-width: @menuTransitionMinWidthBreakpoint) {
    gap: 38px;
  }
}

.slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  margin: 0;
}