@import '../../breakpoints.less';

.menuChevron {
  transition: transform 150ms;
  transform: rotate(90deg);
}

.activeHeaderLink {
  .menuChevron {
    transform: rotate(-90deg);
  }

  @media(min-width: @menuTransitionMinWidthBreakpoint) {
    background-color: var(--blue-30-percent);
  }
}
