.container {
    h2 {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 48px;
        text-align: center;
        margin: 0;
        color: var(--blue);

        @media (max-width: 768px) {
            font-size: 1.75rem;
            font-weight: 700;
            line-height: 33.6px;
            margin: 0;
        }
    }
}

.columns {
    display: flex;
    align-items: center;
    gap: 60px;
    width: 100%;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }
}

.boxes {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;

    @media (max-width: 768px) {
        flex-direction: row;
    }

    @media (max-width: 600px) {
        flex-direction: column;

        a {
            width: 100%;
        }
    }
}

.getStartedBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--violet100);
    border: 1px solid var(--violet300);
    border-radius: 16px;
    gap: 24px;
    width: 100%;
    padding: 36px;

    @media (max-width: 1380px) {
        padding: 24px;
        width: fit-content;
    }

    @media (max-width: 1310px) {
        flex-direction: column;
        text-align: center;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}

.contactUsBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--lighter-grey);
    border: 1px solid var(--border-color);
    border-radius: 16px;
    gap: 24px;
    width: 100%;
    padding: 36px;

    @media (max-width: 1380px) {
        padding: 24px;
        width: fit-content;
    }

    @media (max-width: 1310px) {
        flex-direction: column;
        text-align: center;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;

    @media (min-width: 769px) {
        max-width: 308px;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 28.8px;
        color: var(--grey);
        margin: 0;
    }

    p {
        color: var(--grey);
        margin: 0;
        line-height: 30px;
        font-size: 1rem;
        font-weight: 400;
    }
}

.imageWrapper {
    max-width: 515px;
}

.iconWrapper {
    min-width: 20px;
    min-height: 20px;
}