.container {
    background-color: #5072eb40;
    border: 1px solid #5072eb99;
    border-radius: 20px;
    padding: 18px;
    position: relative;
    width: 816px;
    height: 540px;

    @media (max-width: 1280px) {
        width: fit-content;
        height: auto;
    }

    @media (max-width: 425px) {
        padding: 4vw;
    }
}

.videoTextAndButtonsWrapper {
    position: absolute;
    font-size: 1.5rem;
    line-height: 30px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    color: var(--white);
    padding: 0 60px;
    text-align: center;

    @media (max-width: 768px) {
        font-size: 1.25rem;
        line-height: normal;
    }

    @media (max-width: 425px) {
        font-size: 3.5vw;
        gap: 4vw;
    }

    button {
        margin: 65px;
        padding: 16px 24px;
        gap: 16px;

        @media (max-width: 425px) {
            font-size: 2.5vw;
            padding: 1vw 2vw;
            gap: 4vw;
            white-space: nowrap;
            max-height: 8vw;

            svg {
                width: 3vw;
            }
        }
    }
}