.container {
    background-color: #5072eb40;
    border: 1px solid #5072eb99;
    border-radius: 20px;
    padding: 18px;
    position: relative;
    width: 816px;
    height: 540px;

    @media (max-width: 1280px) {
        width: 54vw;
        height: 36vw;
    }

    @media (max-width: 768px) {
        width: 78vw;
        height: 52vw;
        padding: 14px;
    }
}

.videoTextAndButtonsWrapper {
    position: absolute;
    font-size: 1.5rem;
    line-height: 30px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    color: #ffffff;
    padding: 0 60px;
    text-align: center;

    @media (max-width: 425px) {
        font-size: 0.875rem;
        gap: 16px;
        line-height: 18px;
    }

    button {
        padding: 16px 24px;
        gap: 16px;

        @media (max-width: 425px) {
            font-size: 3vw;
            padding: 4px 8px;
            white-space: nowrap;

            svg {
                width: 4vw;
            }
        }
    }
}