.container {
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: 200;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.avatarWrapper {
  align-items: center;
  display: flex;
  white-space: nowrap;
  font-size: 1rem;
}

.authorName {
  color: #47506d;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  line-height: 19.2px;

  strong {
    font-weight: 600;
  }

  span {
    font-weight: 400;
    font-size: 0.875rem;
  }
}
