.container {
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: 200;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.avatarWrapper {
  align-items: center;
  display: flex;
  white-space: nowrap;
  font-size: 1rem;
}

.styledLink {
  align-items: center;
  display: flex;
}
