.container {
  > :nth-child(1) {
    max-width: 900px;
  }

  h2 {
    margin-bottom: 24px;
    text-align: center;

    @media (max-width: 768px) {
      line-height: 38.4px;
    }

    @media (max-width: 425px) {
      line-height: 33.6px;
    }

    span {
      color: var(--blue);
    }
  }

  p {
    font-size: 1.25rem;
    line-height: 30px;
    margin: 0;
    text-align: center;
  }
}