.descriptionWrapper {
    & > p,
    li {
        color: var(--white);
        max-width: 252px;
        height: 100%;
        font-size: 1rem;
        font-weight: 400;
        line-height: 120%;
        margin-top: 0;
        margin-bottom: 0;

        @media (max-width: 660px) {
            max-width: 100%;
        }
    }

    & > ul {
        margin-top: 0;
        margin-bottom: 0;
    }
}
