h2 {
  color: #5072EB;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 48px;

  @media (max-width: 768px) {
    font-size: 2rem;
    line-height: 40px;
  }

  @media (max-width: 425px) {
    font-size: 1.5rem;
    line-height: 32px;
  }
}
