@import '../../globalStyles/sections.module.less';

.container {
  .sectionTopBottomPadding;
  position: relative;
  background-color: #f9fafc;
}

.background-image {
  position: absolute !important;
  width: 100%;
  top: 0;
  bottom: 0;
}