@import '../../globalStyles/sections.module.less';

.container {
  .sectionTopBottomPadding;
  position: relative;
}

.backgroundImage {
  position: absolute !important;
  width: 100%;
  top: 0;
  z-index: -1;
}

.swoopingLines {
  bottom: 0;
}

.bigVector {
  max-height: 100vh;

  @media(min-width: 1700px) {
    max-height: 100vh;
    bottom: 0;
  }
}
