.leftColumn {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-content: center;
    padding-top: 54px;
    background-color: #5072eb;

    @media (max-width: 425px) {
        padding-bottom: 0;
    }

    span {
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        text-align: center;

        @media (max-width: 1280px) {
            font-size: 1.5rem;
        }

        @media (max-width: 425px) {
            font-size: 1rem;
        }

        span:nth-of-type(2) {
            font-size: 1.25rem;
            padding: 0 16px;

            @media (max-width: 1280px) {
                font-size: 0.875rem;
            }
        }
    }

    img {
        margin-top: -3vw;
    }
}

.rightColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 37px;
    background-color: #ffffff;

    @media (max-width: 780px) {
        padding: 24px;
    }

    span {
        font-size: 1rem;
        font-weight: 400;
        line-height: 19.2px;
        text-align: center;
        margin: 32px 0;
        color: var(--grey);

        @media (max-width: 1280px) {
            font-size: 0.875rem;
        }

        @media (max-width: 425px) {
            margin: 16px 0;
        }
    }

    a {
        color: #ffffff;
        background-color: #5072eb;
        padding: 16px 24px;
        width: 100%;
        border-radius: 4px;
        margin-bottom: 16px;
        text-align: center;
        cursor: pointer;
    }

    button {
        color: var(--grey);
        background-color: transparent;
        padding: 16px 24px;
        width: 100%;
        border: 2px solid #5072eb;
        border-radius: 4px;
        cursor: pointer;
    }

    @media (max-width: 425px) {
        a, button {
            font-size: 0.875rem;
        }
    }
}

.closeButtonWrapper {
    position: absolute;
    right: 24px;
    top: 24px;
    fill: red;

    @media (max-width: 780px) {
        right: 12px;
        top: 12px;
    }

    svg {
        color: var(--dark-blue);

        @media (max-width: 780px) {
            color: #ffffff;
        }
    }
}