@import './sections.module.less';

.defaultWrapperGrey {
  .sectionTopBottomPadding;
  background-color: #FDFDFE;
}

.defaultWrapperDark {
  .sectionTopBottomPadding;
  background-color: var(--light-blue);
}

.defaultWrapperDarkBlue {
  .sectionTopBottomPadding;
  background-color: var(--dark-blue);
}