.container {
  background-color: #5072EB0F;
  border: 1px solid #5072EB4D;
  border-radius: 24px;
  padding: 36px 32px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  transition: var(--default-transition);
  cursor: pointer;

  &:hover {
    border-color: #5072EB;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 28px;
    color: #47506D;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 60px;
  max-height: 60px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #D7DCE580;
  border-radius: 16px;
  padding: 8px;

  img {
    max-height: 40px;
  }
}

.logoVsLogoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  span {
    font-size: 1.25rem;
    font-weight: 600;
    color: #625EFF;
  }
}

.divider {
  background-color: #5072EB26;
}
