@import '../../../globalStyles/sections.module.less';

.container {
  .globalMaxWidth;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 60px;

  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 48px;
    color: #04192B;
    margin-bottom: 40px;

    span {
      color: #5072EB;
    }
  }
}

.rightColumn {
}
