.container {
    h2 {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 72px;
        color: var(--blue);
    }
}

.cardsList {
    display: flex;
    gap: 32px;
    justify-content: center;
    padding-bottom: 48px;

    @media (max-width: 1280px) {
        gap: 40px;
    }

    @media (max-width: 960px) {
        flex-direction: column;
    }
}
