@import '../../../globalStyles/sections.module.less';

.container {
  .globalMaxWidth;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 60px;

  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 48px;
    color: #04192B;
    margin-bottom: 40px;

    span {
      color: #5072EB;
    }
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    gap: 30px;

    h2 {
      font-size: 2.25rem;
    }
  }

  @media (max-width: 360px) {
    max-width: 100vw;

    h2 {
      font-size: 1.5rem;
      line-height: 30px;
      margin-bottom: 24px;
    }
  }
}

.leftColumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  max-width: 536px;
  width: 100%;
  margin: auto;

  div {
    width: 100%;
  }

  svg {
    min-height: 30px;
  }

  @media (max-width: 600px) {
    svg {
      max-width: 20px;
      max-height: 20px;
    }
  }

  @media (max-width: 360px) {
    gap: 10px;
  }
}

.rightColumn {
  @media (max-width: 360px) {
    max-width: calc(100vw - 40px);
  }
}

.solidBorderBox {
  border: 1px solid #A4B6F4;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  height: 100%;

  @media (max-width: 600px) {
    gap: 10px;
    padding: 10px;
  }

  @media (max-width: 450px) {
    gap: 6px;
    padding: 6px;
  }
}

.relativePosition {
  position: relative;
}

.dashedBorderBox {
  border: 1px dashed #A4B6F4B2;
  border-radius: 12px;
  padding: 16px;
  background-color: #F5F7FF;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: 100%;

  @media (max-width: 600px) {
    gap: 10px;
    padding: 10px;
  }

  @media (max-width: 450px) {
    gap: 6px;
    padding: 6px;
  }

  span {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 14.4px;

    @media (max-width: 600px) {
      font-size: 0.6rem;
    }
  }
}

.minHeight {
  align-items: center;
  justify-content: center;
}

.middleTag {
  position: absolute;
  top: 46%;
  left: -55%;
  text-align: center;
  display: flex;
  align-items: center;

  span {
    background-color: #6ED5D6;
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: 700;
    padding: 4px 12px;
    white-space: nowrap;
    min-width: 116px;

    @media (max-width: 600px) {
      min-width: 70px;
      font-size: 0.6rem;
      padding: 2px 0;
    }
  }
}

.arrowLeft {
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 14px solid #6ED5D6;

  @media (max-width: 600px) {
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 9px solid #6ED5D6;
  }
}

.arrowRight {
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #6ED5D6;

  @media (max-width: 600px) {
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid #6ED5D6;
  }
}

.horizontalWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  @media (max-width: 600px) {
    gap: 10px;
  }

  @media (max-width: 450px) {
    gap: 6px;
  }
}

.secondLevelSolidBorderBox {
  border-radius: 8px;
  background-color: #FCFCFD;
  width: 100%;

  span {
    font-weight: 500;
  }
}

.vpcMarginBottom {
  margin-bottom: 54px;

  @media (max-width: 600px) {
    margin-bottom: 26px;
  }
}

.privateVpcBox {
  position: relative;
}

.privateDeploymentTag {
  span {
    min-width: auto;
    padding: 7px 8px;
  }

  @media (max-width: 600px) {
    span {
      padding: 2px 0;
    }
  }
}

.privateLinkTag {
  top: 29%;
  left: 50%;

  @media (max-width: 600px) {
    top: 31.8%;
  }
}

.metadataOnlyDarkerBlueTag {
  top: 88%;
  left: -115%;

  span {
    background-color: #5072EB;
  }

  .arrowLeft {
    border-right-color: #5072EB;
  }

  .arrowRight {
    border-left-color: #5072EB;
  }


  @media (max-width: 600px) {
    span {
      min-width: 80px;
    }
  }
}