.container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
    gap: 20px;

    @media (max-width: 425px) {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }

  ul,
  li {
    margin: 0;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  h3,
  h4,
  span {
    color: var(--white);
  }
}