.sidebarWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 340px;
  width: 100%;
  height: 100%;
  background: #000;
  height: 100vh;
  padding: 62px 42px 50px 56px;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;

  @media (max-width: 1199px) {
    display: none;
  }
}

.ctasWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 30px;
}

.docLink {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

.pipelineLink {
  max-width: 195px;
  margin-left: auto;
  margin-right: auto;
  background: #5072eb;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
}

.itemSteps {
  margin: 0;
  padding: 0 0 0 21px;
  list-style: none;

  li {
    color: #979797;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 210%;
    cursor: pointer;
    transition: all 0.25s linear;

    &:hover,
    &.active {
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      color: #fff;
      transition: all 0.25s linear;
      text-decoration: underline;
    }
  }
}

.navItem {
  color: #979797;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 15px 0;
  cursor: pointer;

  &.active,
  &:hover {
    color: #fff;
  }
}

.sidebarLogo {
  h1 {
    color: #fff;
  }
}

.zoomInOutCircle {
  width: 46px;
  height: 46px;
  filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
  background: #5073eb;
  animation: zoom-in-zoom-out 2s ease infinite;
  border-radius: 100%;
  position: absolute;

  &:before {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    background: #5173ed;
    border-radius: 100%;
    border: 1px solid #71d4d7;
    left: 5px;
    top: 5px;
  }
}

.step {
  max-width: 881px;
  width: 100%;
  padding: 6% 4% 4% 6%;
  margin: auto;
}

.step0 {
  max-width: 780px !important;
  background: #fff;
  padding: 10% 8% 8% 10% !important;

  .stepHeading {
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1360px) and (min-width: 1200px) {
      font-size: 28px;
    }

    @media (max-width: 1119px) {
      font-size: 28px;
    }

    @media (max-width: 850px) {
      font-size: 22px;
      margin-bottom: 15px;
    }
  }

  .stepContent {
    background: #111;
    padding: 63px 0 48px;
    text-align: center;

    @media (max-width: 1360px) and (min-width: 1200px) {
      padding: 30px 0;
    }

    @media (max-width: 1119px) {
      padding: 30px 0;
    }
  }
}

.stepsCta {
  max-width: 195px;
  margin-left: auto;
  margin-right: auto;
  background: #5072eb;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-top: 30px;
}

.stepSubheading {
  p {
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;

    @media (max-width: 1360px) and (min-width: 1200px) {
      font-size: 18px;
    }

    @media (max-width: 1119px) {
      font-size: 18px;
    }

    @media (max-width: 850px) {
      font-size: 16px;
    }
  }
}

.stepContent {
  border-radius: 6px;

  @media (max-width: 1360px) and (min-width: 1200px) {
    padding: 30px 8px;
  }

  @media (max-width: 1119px) {
    padding: 30px 8px;
  }
}

.buttonTooltip {
  max-width: 334px;
  width: 100%;
  padding: 15px 15px 11px 20px;
  background: #111;
  position: absolute;
  border-radius: 6px;

  @media (max-width: 1024px) {
    max-width: 250px;
  }

  &.left {
    &::before {
      content: '';
      position: absolute;
      left: -10px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #111;
    }
  }

  &.right {
    &::before {
      content: '';
      position: absolute;
      right: -10px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid #111;
    }
  }

  &.top {
    &::before {
      content: '';
      position: absolute;
      top: -10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #111;
    }
  }

  &.bottom {
    &::before {
      content: '';
      position: absolute;
      bottom: -10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #111;
    }
  }
}

.tooltipHeading {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

.tooltipDescription {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  margin-bottom: 20px;

  @media (max-width: 1024px) {
    font-size: 12px;
  }
}

.tooltipAction {
  color: #888;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tooltipList {
  padding: 0 0 0 20px;
  margin: 0;

  li {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
  }
}

.step1 {
  position: relative;

  .zoomInOutCircle {
    left: calc(50% - 23px);
    top: calc(50% - 23px);
  }

  .buttonTooltip {
    left: calc(50% + 40px);
    top: calc(50% - 82px);

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 5px);
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #111;
    }
  }
}

.step2 {
  position: relative;

  .zoomInOutCircle {
    right: 130px;
    top: 30px;

    @media (max-width: 1024px) {
      right: 17%;
      top: 1%;
    }
  }

  .buttonTooltip {
    top: 100px;
    right: 100px;

    @media (max-width: 1024px) {
      top: 20%;
      right: 12%;
    }

    &::before {
      right: 41px;
    }
  }
}

.step3 {
  position: relative;

  .zoomInOutCircle {
    left: 35%;
    top: 42%;

    @media (max-width: 1025px) and (min-width: 1253px) {
      right: 17%;
      top: 1%;
    }
  }

  .buttonTooltip {
    top: 235px;
    right: 165px;

    @media (max-width: 1280px) {
      top: 40%;
      right: 0;
    }

    @media (max-width: 1024px) {
      top: 41%;
      right: 0;
      max-width: 350px;
    }

    @media (max-height: 800px) {
      height: 200px;
      overflow: hidden;
      overflow-y: scroll;
    }
  }
}

.step4 {
  position: relative;

  .zoomInOutCircle {
    left: 130px;
    top: 140px;
  }

  .buttonTooltip {
    top: 145px;
    left: 215px;

    @media (max-width: 1024px) {
      max-width: 350px;
    }

    @media (max-height: 800px) {
      height: 200px;
      overflow: hidden;
      overflow-y: scroll;
    }
  }
}

.step5 {
  position: relative;

  .zoomInOutCircle {
    right: 280px;
    bottom: 102px;

    @media (max-width: 1024px) {
      right: 33%;
      bottom: 20%;
    }
  }

  .buttonTooltip {
    bottom: 0;
    right: 341px;

    @media (max-width: 1024px) {
      bottom: -35px;
      right: 45%;
    }
  }
}

.step6 {
  position: relative;

  .zoomInOutCircle {
    left: 320px;
    bottom: 162px;

    @media (max-width: 1475px) {
      left: 39%;
      bottom: 31%;
    }
  }

  .buttonTooltip {
    bottom: 66px;
    left: -35px;

    @media (max-width: 1475px) {
      bottom: 12%;
      left: auto;
      right: 63%;
    }
  }
}

.step7 {
  max-width: 780px !important;
  background: #fff;
  padding: 10% 8% 8% 10% !important;

  @media (max-width: 1560px) and (min-width: 1200px) {
    padding: 30px 35px 35px;
  }

  @media (max-width: 1119px) {
    padding: 30px 35px 35px;
  }

  .stepContent {
    background: #111;
    padding: 63px 0 48px;
    text-align: center;

    @media (max-width: 1360px) and (min-width: 1200px) {
      padding: 30px 0;
    }

    @media (max-width: 1119px) {
      padding: 30px 0;
    }
  }

  .stepHeading {
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;

    @media (max-width: 1360px) and (min-width: 1200px) {
      font-size: 28px;
    }

    @media (max-width: 1119px) {
      font-size: 28px;
      margin-bottom: 15px;
    }
  }

  ul {
    padding: 0;
    margin: 0 0 46px;
    max-width: 300px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;

    li {
      color: #fff;
      text-align: left;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;

      @media (max-width: 1360px) and (min-width: 1200px) {
        font-size: 18px;
      }

      @media (max-width: 1119px) {
        font-size: 18px;
        line-height: normal;
      }

      &::before {
        content: '•';
        margin-right: 10px;
      }
    }
  }
}

.stepCtas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 473px;
  margin: 0 auto;

  @media (max-width: 1024px) {
    padding: 0 20px;
  }

  @media (max-height: 747px) {
    margin: 0 29px;
  }

  .pipelineLink {
    max-width: 195px;
    margin-left: auto;
    margin-right: auto;
    background: #5072eb;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;

    @media (max-width: 1360px) {
      margin-left: 0;
    }
  }
}

.compareLink {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}