.container {
    display: flex;
    flex-direction: column;
}

.tabList {
    display: flex;
    cursor: pointer;
}

.tabStyle {
    padding: 10px 20px;
    background-color: transparent;
    border-bottom: 2px solid var(--border-color);
    transition: border 150ms ease-in-out;
    width: 100%;
    text-align: center;

    &>span {
        color: var(--border-color);
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 24px;
    }
}

.activeTabStyle {
    border-bottom: 2px solid var(--blue);

    &>span {
        color: var(--blue);
    }
}