.container {
    gap: 40px;

    h2 {
        line-height: normal;
        text-align: center;
        color: var(--grey);

        & span:nth-child(odd) {
            color: var(--blue);
        }

        @media (max-width: 768px) {
            line-height: 43.2px;
        }

        @media (max-width: 425px) {
            line-height: 32px;
        }
    }
}

.buttonsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: auto;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        width: 100%;
    }
}
