.container {
  h2 {
    color: var(--white);
    text-align: center;

    @media (max-width: 768px) {
      line-height: 38.4px;
    }

    @media (max-width: 425px) {
      line-height: 33.6px;
    }
  }
}

.subContainer {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  align-items: center;
  gap: 120px;

  @media (max-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;

    > :nth-child(1) {
      max-width: 300px;
      margin-top: 20px;
    }
  }
}

.cardList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;

  @media (max-width: 425px) {
    grid-template-columns: 1fr;
  }
}