@import '../../../globalStyles/sections.module.less';

.container {
  .globalMaxWidth;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 24px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #47506d;
  letter-spacing: 1px;
  margin: 0;
  line-height: normal;
}
