@import '../../../globalStyles/sections.module.less';
@import '../../../globalStyles/wrappers.module.less';

.section {
  .defaultWrapperDark;
}

.container {
  .globalMaxWidth;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 24px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #47506d;
  letter-spacing: 1px;
  margin: 0;
  line-height: normal;
}

.card {
  display: flex;
  flex-direction: column;
  background-clip: border-box;
  border: 0 solid #e7e7e7;
  border-radius: 8px;
  box-shadow: 0 -6px 16px 0 rgba(0,0,0,0.03),0 8px 16px 0 rgba(0,0,0,0.03),0 13px 27px 0 rgba(50,50,93,0.25);
  padding: 32px;
}

.city {
  font-size: 1.375rem;
  font-weight: 600;
  color: #04192b;
  margin: 0;
}

.address {
  font-size: 1.25rem;
  color: #47506d;
  max-width: 670px;
  margin-bottom: 0;
}

.iconWrapper {
  border-radius: 100%;
  padding: 12px;
  background-color: #E9EDFA;
  display: flex;
  align-items: center;
  justify-content: center;
}
