.slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  margin: 0;
}

.title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 24px;
  color: #5072eb;
  text-transform: uppercase;
  margin: 0;

  @media (max-width: 425px) {
    font-size: 1rem;
    line-height: 33.6px;
  }
}

.description {
  font-size: 2rem;
  font-weight: 300;
  line-height: 44.8px;
  color: var(--white);
  margin: 24px 0 60px 0;
  text-align: center;

  @media (max-width: 425px) {
    font-size: 1rem;
    line-height: 30px;
    font-weight: 500;
    margin: 0;
  }
}

.avatarWrapper {
  width: 136px;
  height: 136px;
  background-color: #a3a7b5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 24px;
  overflow: hidden;

  @media (max-width: 425px) {
    width: 62px;
    height: 62px;
  }
}

.avatarImg {
  min-width: 110px;
  border-radius: 0;

  @media (max-width: 425px) {
    min-width: 52px;
  }
}

.isSeattleDataGuyLogo {
  border-radius: 100%;
}

.avatarSvg {
  padding: 16px;

  @media (max-width: 425px) {
    padding: 32px;
  }
}

.isDarkTheme {
  color: var(--grey);
}