.container {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #ffffff05;
    color: var(--white);
    padding: 16px;
    border: 1px solid var(--blue-20-opacity);
    border-radius: 24px;
    transition: 150ms ease-in-out;

    @media (max-width: 1160px) {
        flex-direction: column;
        align-items: flex-start;
    }

    @media (max-width: 670px) {
        flex-direction: row;
        align-items: center;
        padding: 16px;
    }

    @media (max-width: 360px) {
        flex-direction: column;
        align-items: flex-start;
    }

    &:hover {
        border-color: var(--blue);
        background-color: var(--blue-20-opacity);
    }

    &:active {
        border-color: #5072eb80;
        background-color: #5072eb26;
    }
}

.activeCard {
    background-color: #5072eb80;
            border-color: #5072eb40;

            &:hover {
                border-color: var(--blue);
                background-color: #5072eb99;
            }
}

@iconWrapperSizeDesktop: 80px;
@iconWrapperSizeMobile: 60px;

.iconWrapper {
    min-width: @iconWrapperSizeDesktop;
    min-height: @iconWrapperSizeDesktop;
    max-width: @iconWrapperSizeDesktop;
    max-height: @iconWrapperSizeDesktop;
    border-radius: 100%;
    background-color: #5072EB1A;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1280px) {
        min-width: @iconWrapperSizeMobile;
        min-height: @iconWrapperSizeMobile;
        max-width: @iconWrapperSizeMobile;
        max-height: @iconWrapperSizeMobile;
    }
}

.activeIconWrapper {
    background-color: #FFFFFF1A;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 30px 0 16px;

    @media (max-width: 1160px) {
        margin: 16px 0 30px 0;
    }

    @media (max-width: 670px) {
        margin: 0 30px 0 16px;
    }

    @media (max-width: 360px) {
        margin: 16px 0 30px 0;
    }

    h3 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 24px;
    margin: 0;
    color: var(--white);

    @media (max-width: 1160px) {
        font-size: 1rem;
    }

    @media (max-width: 670px) {
        font-size: 1.25rem;
    }
}

p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 30px;
    margin: 0;
    color: var(--white);
}
}

.chevronIconWrapper {
    @media (max-width: 1160px) {
        margin-top: auto;
    }

    @media (max-width: 670px) {
        margin: auto;
    }

    @media (max-width: 360px) {
        margin: 0 auto 0 0;
    }
}
