@import '../../globalStyles/sections.module.less';

.form {
  display: flex;
  gap: 24px;
  position: relative;

  @media (max-width: 425px) {
    flex-direction: column;
  }
}

.inputIconWrapper {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  padding: 1px;

  @media (max-width: 980px) {
    top: 21.5%;
  }

  @media (max-width: 850px) {
    top: 50%;
  }

  @media (max-width: 550px) {
    top: 21.5%;
  }
}

.formFields {
  display: flex;
  gap: 16px;
  position: relative;
  width: 100%;

  @media (max-width: 980px) {
    flex-direction: column;
  }

  @media (max-width: 850px) {
    flex-direction: row;
  }

  @media (max-width: 550px) {
    flex-direction: column;
  }
}

.emailInput {
  width: 100%;
  height: 52px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding-left: 48px;

  &::placeholder {
    color: var(--grey);
    line-height: 20px;
    font-size: 1rem;
    opacity: 0.6;
  }

  &:focus {
    outline: none;
  }
}

.primaryButton {
  height: 52px;
  white-space: nowrap;
}