.contentFooter {
  a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.875rem;
    margin-top: 8px;

    &:hover {
      text-underline-offset: 4px;
      text-decoration: underline;
    }
  }
}