.mobileImage {
    @media (min-width: 769px) {
        display: none !important;
    }
}

.desktopImage {
    @media (max-width: 768px) {
        display: none !important;
    }
}

.diagram {
    position: relative;
}

.diagramCards {
    h4 {
        font-weight: 600;
        color: var(--grey);
        position: absolute;
        z-index: 1;
        text-align: center;
        top: 8.6vw;
        font-size: 0.75vw;

        @media (min-width: 1601px) {
            font-size: 0.75rem;
            line-height: 19.2px;
        }

        @media (max-width: 768px) {
            font-size: 3.5vw;
        }
    }

    h4:first-of-type {
        left: 1vw;

        @media (min-width: 1601px) {
            top: 135px;
            left: 14px;
        }

        @media (max-width: 768px) {
            top: 4.2%;
            left: 50%;
            transform: translateX(-50%);
            line-height: 3.5vw;
        }
    }

    h4:nth-of-type(2) {
        right: 1vw;

        @media (min-width: 1601px) {
            top: 134px;
            right: 14px;
        }

        @media (max-width: 768px) {
            top: 94.5%;
            left: 50%;
            transform: translateX(-50%);
            line-height: 3.5vw;
        }
    }

    div {
        display: flex;
        align-items: center;
        gap: 0.5vw;
        position: absolute;
        z-index: 1;

        @media (min-width: 1601px) {
            gap: 12px;
        }

        span {
            font-size: 1vw;
            font-weight: 500;
            line-height: normal;

            @media (min-width: 1601px) {
                font-size: 1rem;
            }

            @media (max-width: 768px) {
                font-size: 4vw;

                br {
                    display: none;
                }
            }
        }
    }

    div:first-of-type {
        top: 1.2vw;
        left: 18vw;

        @media (min-width: 1601px) {
            top: 20px;
            left: 290px;
        }

        @media (max-width: 768px) {
            top: 14.5%;
        }
    }

    div:nth-of-type(2) {
        top: 8.6vw;
        left: 18vw;

        @media (min-width: 1601px) {
            top: 136px;
            left: 290px;
        }

        @media (max-width: 768px) {
            top: 23.5%;
        }
    }

    div:nth-of-type(3) {
        top: 15.3vw;
        left: 18vw;

        @media (min-width: 1601px) {
            top: 244px;
            left: 290px;
        }

        @media (max-width: 768px) {
            top: 32.5%;
        }
    }

    div:nth-of-type(4) {
        top: 1.7vw;
        right: 21.5vw;

        @media (min-width: 1601px) {
            top: 30px;
            right: 340px;
        }

        @media (max-width: 768px) {
            top: 65.5%;
        }
    }

    div:nth-of-type(5) {
        top: 8.5vw;
        right: 20.7vw;

        @media (min-width: 1601px) {
            top: 136px;
            right: 330px;
        }

        @media (max-width: 768px) {
            top: 74.5%;
        }
    }

    div:nth-of-type(6) {
        top: 15.2vw;
        right: 25vw;

        @media (min-width: 1601px) {
            top: 244px;
            right: 400px;
        }

        @media (max-width: 768px) {
            top: 83.5%;
        }
    }

    div:nth-of-type(7) {
        top: 49.5%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (min-width: 1601px) {
            top: 143px;
        }

        h4 {
            position: static;
            color: var(--white);
        }

        @media (max-width: 768px) {
            top: 50%;
            right: 50%;
            gap: 8px;
            white-space: nowrap;
        }
    }

    @media (max-width: 768px) {
        div:not(:nth-of-type(7)) {
            left: 22%;
        }
    }
}