@import '../../globalStyles/sections.module.less';

.container {
  .globalMaxWidth;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;

  > :nth-child(1),
  > :nth-child(2) {
    flex: 1;
    max-width: 50%;
  }

  h1, h2, p {
    color: var(--grey);
  }

  h1, h2 {
    span {
      color: var(--blue);
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column-reverse;
    gap: 40px;

    > :nth-child(1),
    > :nth-child(2) {
      max-width: 100%;
    }
  }

  @media (max-width: 425px) {
    gap: 32px;

    h2 {
      font-size: 1.75rem;
    }
  }
}

.vertical {
  flex-direction: column;

  > :nth-child(1),
  > :nth-child(2) {
    flex: 1;
    max-width: 100%;
  }
}

.reverse {
  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.lightText {
  h1, h2, p {
    color: var(--white);
  }
}
