.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border: 1px solid var(--violet200);
  border-radius: 16px;
  padding: 28px;

  h3 {
    margin-bottom: auto;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 140%;
    color: var(--grey);

    @media (max-width: 768px) {
      font-size: 1.125rem;
    }
  }
}