.columnDirection {
    flex-direction: column;
}

.wrapper {
    display: flex;
    gap: 16px;
    flex-direction: row;
    width: 100%;

    @media (max-width: 960px) {
        flex-direction: column;
    }
}

.formControl {
    width: 100%;
    height: 52px;

    @media (max-width: 1485px) {
        max-width: 100%;
    }
}

.selectItem {
    display: flex;
    align-items: center;
    gap: 15px;
}

.itemImage {
    width: 20px;
}

.connectorSelect {
    :global(.MuiSelect-select) {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-right: auto;

        @media (min-width: 961px), (max-width: 320px) {
            span {
                display: inline-block;
                width: 100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                @media (max-width: 1485px) {
                    max-width: 100%;
                }
            }
        }
    }
}

.darkTheme {
    .connectorSelect {
        background-color: var(--white);
    }
}

.disabledLink {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}