.columnDirection {
    flex-direction: column;
}

.wrapper {
    display: flex;
    gap: 16px;
    flex-direction: row;

    @media (max-width: 1485px) {
        width: 100%;
    }

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.formControl {
    max-width: 262px;
    width: 100%;
    height: 52px;

    @media (max-width: 1485px) {
        max-width: 100%;
    }
}

.connectorSelect {
    width: 262px;
    max-height: 56px;

    @media (max-width: 1485px) {
        width: 100%;
    }
}

.selectItem {
    align-items: flex-start;
}

.itemImage {
    width: 20px;
    margin-right: 15px;
    vertical-align: middle;
}

.darkTheme {
    .connectorSelect {
        background-color: #fff;
    }
}

.disabledLink {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}
