.container {
    position: relative;
    padding-bottom: calc(35.666666666666664% + 41px);
    height: 0;
    width: 100%;

    > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color-scheme: light;
    }
}
