@import '../../globalStyles/sections.module.less';

.container {
  .globalMaxWidth;

  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  h2 {
    color: var(--blue);
    text-align: center;

    @media (max-width: 768px) {
      line-height: 38.4px;
    }

    @media (max-width: 425px) {
      line-height: 33.6px;
    }
  }

  p {
    color: var(--grey);
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
  }

  a {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 600;
    margin-top: auto;
    width: fit-content;

    &:hover {
      text-underline-offset: 4px;
      text-decoration: underline;
    }
  }
}

.cardList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}