.slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  border: 1px solid var(--blue-30-opacity);
  border-radius: 16px;
  background-color: #5072EB08;
  padding: 32px;
  height: 100%;
  min-width: 480px;

  hr {
    background-color: var(--blue-30-opacity);
    height: 0.5px;
    margin-bottom: auto;
  }

  p {
    position: relative;
    font-size: 1rem;
    color: var(--light-grey);
    margin-bottom: auto;
    text-align: center;
    padding: 1.5rem 2rem;
  }
  
  p::before,
  p::after {
    position: absolute;
    font-family: serif;
    font-size: 3.5rem;
  }
  
  p::before {
    content: '“';
    top: -1rem;
    left: 0.5rem;
    line-height: 1;
  }
  
  p::after {
    content: '”';
    bottom: -2rem;
    right: 0.5rem;
    line-height: 1;
  }

  @media (max-width: 600px) {
    padding: 16px;
    min-width: 302px;
  }

  @media (max-width: 425px) {
    min-width: 275px;

    p {
      padding: 0;
    }

    p::before {
      top: -2rem;
    }
    
    p::after {
      bottom: -3rem;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 24px;
}

.headerWithAuthor {
  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: space-between;

    & > :nth-child(2) {
      order: 1;
      flex-basis: 100%;
    }
  }
}

.authorInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: auto;

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 30px;
    color: var(--white);
    margin: 0;

    @media (max-width: 600px) {
      font-size: 1rem;
      line-height: 33.6px;
    }
  }

  span {
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
    color: var(--role);
  }
}

.isDarkTheme {
  color: var(--grey);
}
