.title {
    line-height: 48px;
    text-align: center;
    margin: 0;

    @media (max-width: 810px) {
        line-height: 33.6px;
        margin: 0;
    }
}

.tableWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    h3 {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
        color: var(--grey);
        margin: 0;
    }
}