.container {
  display: flex;
  flex-direction: column;
  max-width: 256px;
  width: 100%;
  gap: 24px;
  height: fit-content;

  @media (max-width: 1150px) {
    max-width: 100%;
  }

  @media (min-width: 1151px) {
    position: sticky;
    top: 100px;
  }

  @media (max-width: 767px) {
    padding-right: 0;
    position: relative !important;
  }
}

.tableOfContentsWrapper {
  overflow: auto;

  @media (max-width: 1150px) {
    margin-bottom: 32px;
  }

  @media (min-width: 769px) {
    max-height: 75vh;

    @media (max-height: 790px) {
      max-height: 60vh;
    }
  }
}