.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: fit-content;

  @media (min-width: 1025px) {
    width: 100%;
    max-width: 256px;
    min-width: 155px;
    position: sticky;
    top: 100px;
  }

  @media (max-width: 1024px) {
    width: 100%;
  }

  @media (max-width: 767px) {
    padding-right: 0;
    position: relative !important;
  }
}

.shareArticleDesktop {
  display: flex;

  @media (max-width: 1024px) {
    display: none;
  }
}

.tableOfContentsWrapper {
  overflow: auto;
}

.ctaLink {
  @media (max-width: 1024px) {
    display: none;
  }
}