.iconWrapper {
  background-color: var(--blue-10-opacity);
  border-radius: 28px;
  border: 1px solid var(--blue-5-opacity);
  box-shadow: inset -1px 0 4px 2px var(--blue-20-opacity);
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}