.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  span {
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 30px;
      color: var(--dark-blue);
  }

  @media (max-width: 1150px) {
      margin-bottom: 0;
  }
}

.socialButtonsWrapper {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;

  @media (max-width: 1150px) {
      gap: 20px;
  }
}