.container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  span {
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 30px;
      color: var(--dark-blue);
  }
}

.socialButtonsWrapper {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}