@import '../../globalStyles/wrappers.module.less';

.layoutWithRelatedArticlesSection {
  section:nth-of-type(11) {
    background-color: var(--light-blue) !important;
  }

  section:nth-of-type(n+12) {
    &:nth-of-type(odd) {
      .defaultWrapperGrey;

      h2,
      p {
        color: var(--grey);
      }
    }

    &:nth-of-type(even) {
      .defaultWrapperDarkBlue;

      h2,
      h3,
      p {
        color: var(--white);
      }
    }
  }
}