@import '../../globalStyles/wrappers.module.less';

.layoutClassName {
  section:nth-of-type(8) {
    background-color: var(--light-blue);
  }

  section:nth-of-type(n+11) {
    &:nth-of-type(even) {
      .defaultWrapperGrey;

      h2,
      p {
        color: var(--grey);
      }
    }

    &:nth-of-type(odd) {
      .defaultWrapperDarkBlue;

      h2,
      h3,
      p {
        color: var(--white);
      }
    }
  }
}