@import '../../globalStyles/wrappers.module.less';

.globalWrapper {
  display: flex;
  flex-direction: column;
}

.globalMainFixedHeader {
  section:first-of-type, section:nth-of-type(odd) {
    .defaultWrapperDarkBlue;

    h2 {
      color: var(--white);
    }
  }

  section:nth-of-type(even) {
    .defaultWrapperGrey;

    h2 {
      color: var(--grey);
    }
  }

  @media (min-width: 810px) {
    margin-top: 80px;
  }
}

.lightSections {
  section:nth-of-type(odd):not(:first-of-type) {
    .defaultWrapperDark;

    h2 {
      color: var(--grey);
    }
  }
}