@import '../../globalStyles/sections.module.less';

.container {
  .globalMaxWidth;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &>div:last-child {
    width: 100%;
    max-width: 50rem;
  }

  div {
    max-width: 800px;
    width: 100%;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--dark-blue);
  margin: 0;
  text-align: center;
}

.description {
  font-size: 1rem;
  text-align: center;
  color: var(--grey);
  max-width: 670px;
  margin-bottom: 48px;
}

.contactUsFormHelpText {
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;
}

.redirectLink {
  color: var(--blue);

  &:hover {
    text-underline-offset: 4px;
    text-decoration: underline;
  }
}
