@import '../../../globalStyles/sections.module.less';

.textWrapper {
  text-align: center;
}

.tabs {
  div {
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }
}

.itemImage {
  max-width: 20px;
}

.gridCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(286px, 1fr));
  gap: 24px;

  @media (max-width: 824px) {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }

  @media (max-width: 425px) {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }
}

.tabLabel {
  display: flex;
  align-items: center;
}