@import '../../globalStyles/sections.module.less';

.wrapper {
  overflow: hidden;
}

.container {
  .globalMaxWidth;
  padding: 0;

  h2 {
    color: var(--white);
    margin-bottom: 60px;
    text-align: center;

    span {
      color: var(--blue);
    }

    @media (max-width: 425px) {
      padding-left: 0;
      padding-right: 20px;
    }
  }
}

.sectionTitleWithGlobalMaxWidth {
  .globalMaxWidth;
}

// Light theme styles
.lightTheme {
  .container {
    h2 {
      color: var(--grey);
    }
  }
}