.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border: 1px solid var(--border-color);
  border-radius: 24px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--blue-10-opacity);
    width: 56px;
    height: 56px;

    @media (max-width: 425px) {
      width: 40px;
      height: 40px;
      padding: 10px;
    }
  }

  h3,
  p {
    color: var(--grey);
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
  }

  p {
    margin: 0;
  }
}

.darkTheme {
  border: none;
  padding: 0;

  h3,
  p {
    color: var(--white);
  }
}