@import '../../../globalStyles/wrappers.module.less';

.wrapper {
  .defaultWrapperGrey;
  overflow: hidden;
}

.container {
  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 40px;
    color: var(--dark-blue);
    margin: 0;
    padding: 0 20px;

    @media (max-width: 768px) {
      font-size: 2rem;
    }

    @media (max-width: 425px) {
      font-size: 1.75rem;
    }
  }
}

.planCardsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}