.wrapper {
  overflow: hidden;
}

.container {
  h2 {
    color: var(--dark-blue);
    padding: 0 20px;
  }
}

.planCardsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}