.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
  border-radius: 32px;
  background-color: var(--blue-5-opacity);
}

.boilerplatesList {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.innerContainer {
  padding: 0;
}

.container {
  h2 {
    color: var(--blue);
  }
}