@whiteColor: var(--white);

.imageWrapper {
    position: relative;
    margin: auto;
    width: 100%;

    @media (min-width: 1280px) {
        max-width: 50%;
    }
}

.title {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    margin: 0;
    color: var(--white);

    @media (max-width: 810px) {
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 33.6px;
        margin: 0;
    }

    &>span {
        color: var(--blue);
    }
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    width: 100%;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.column {
    display: flex;
    gap: 16px;
    padding: 35px 24px;
    border-radius: 16px;
    height: 100%;

    @media (max-width: 1280px) {
        flex-direction: column;
    }
}

.streamingEtlColumn {
    border: 1px solid #5072eb40;
    background-color: #0a1f38;
}

.batchEltColumn {
    border: 1px solid #d7dce540;
    background-color: var(--dark-blue);
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: auto;

    @media (max-width: 1280px) {
        text-align: center;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 28.8px;
        margin: 0;
    }

    p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 30px;
        margin: 0;

        @media (min-width: 1281px) {
            max-width: 260px;
        }
    }
}

.streamingEtlTitle {
    color: var(--blue);
}

.batchEltTitle {
    color: var(--white);
}

.streamingEtlDescription {
    color: var(--white);
}

.batchEltDescription {
    color: var(--border-color);
}

.logoWrapper {
    position: absolute;
    width: 18.7%;
    height: 23.5%;
    background-color: transparent;
    cursor: pointer;

    @media (max-width: 768px) {
        width: 18.5%;
        height: 23.3%;
    }

    @media (min-width: 769px) {
        &:hover {
            border-radius: 16%;
            border: 2px solid transparent;
            background: linear-gradient(to bottom, #6ed5d6, #7284ff) border-box;
            mask:
                linear-gradient(@whiteColor 0 0) padding-box,
                linear-gradient(@whiteColor 0 0);
            mask-composite: exclude;

            @media (max-width: 1280px) {
                border-radius: 17%;
            }
        }

        &:active {
            background: linear-gradient(to bottom, #6ed5d699, #7284ff99) border-box;
        }
    }
}

.centeredLogoWrapper {
    top: 50%;
    transform: translateY(-50%);
}

.slightlyOffsetCenteredLogoWrapper {
    top: 50.5%;
    transform: translateY(-50%);
}

.topLogoWrapper {
    top: 8.4%;
}

.bottomLogoWrapper {
    bottom: 8%;
}

.amazonRedshiftStreamingEtlLogoWrapper {
    top: 68.5%;
}

.mySQLBatchElt1LogoWrapper {
    top: 8.6%;
}

.leftIcon {
    left: 74.6%;

    @media (max-width: 1280px) {
        left: 74.7%;
    }

    @media (max-width: 920px) {
        left: 74.9%;
    }
}

.rightIcon {
    right: 74.6%;

    @media (max-width: 1280px) {
        right: 74.7%;
    }
}