.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    border: 1px solid #5072eb99;
    border-radius: 24px;
    background-color: var(--dark-blue-2);
    padding: 42px 24px;
    max-width: 30%;
    width: 100%;
    min-height: 420px;

    @media (max-width: 960px) {
        max-width: 100%;
        min-height: 200px;
    }

    p {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 30px;
        color: var(--white);
        margin: 0;
        text-align: center;

        @media (max-width: 1280px) {
            font-size: 1rem;
        }

        @media (max-width: 980px) {
            max-width: 480px;
        }
    }

    a {
        width: 100%;
        background-color: transparent;
        color: var(--white);
    }
}

.successStoryLogoWrapper {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    max-width: 160px;
    max-height: 80px;
    min-width: 160px;
    min-height: 80px;
    padding: 8px;

    @media (max-width: 768px) {
        max-width: 100px;
        max-height: 60px;
        min-width: 100px;
        min-height: 60px;
    }
}