.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 1rem;

  h3 {
    font-size: 1.25rem;
    line-height: 24px;
  }

  p {
    margin: 0 0 8px 0;
  }

  ul {
    margin: 0;
  }

  li {
    display: flex;
    align-items: center;
    gap: 12px;

    p {
      margin: 0;
    }
  }

  h4 {
    color: #5072EB;
    font-size: 1rem;
  }
}