.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 12px;
  margin: 0;

  h3 {
    font-size: 1.125rem;
    font-weight: 600;
  }

  p {
    line-height: 160%;
    margin: 0;
    margin-bottom: auto;
  }
}