.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  row-gap: 8px;
  column-gap: 24px;

  a {
    width: fit-content;

    &:hover {
      color: var(--blue);
      text-underline-offset: 4px;
      text-decoration: underline;
    }
  }

  @media (max-width: 425px) {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}