@import '../../../globalStyles/sections.module.less';

.container {
  .globalMaxWidth;

  display: flex;
  flex-direction: column;
  gap: 60px;
  text-align: center;
}

.cardsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}