@import '../../../globalStyles/sections.module.less';

@badgeColor: #A4B6F480;

.container {
    h2 {
        max-width: 530px;
        text-align: left;
    }

    p {
        text-align: left;
    }
}

.row {
    flex-direction: row;
}

.badgesWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.addBadge {
    width: 80px;
    height: 80px;
    border: 1px dashed @badgeColor;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0C2032;

    span {
        font-size: 3rem;
        color: @badgeColor;
        font-weight: 200;
        margin-bottom: 4px;
    }
}

.rightColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.starsWrapper {
    margin-left: 16px;

    p {
        color: #7786B6;
        font-size: 1rem;
        line-height: 30px;
    }
}