.container {
    background-color: var(--blue);
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    display: none;
    font-weight: 700;

    @media (min-width: 1024px) {
        display: flex;
    }

    a {
        font-size: 12px;
        text-decoration-line: underline;
        color: var(--white);
    }
}