@import '../../../globalStyles/sections.module.less';

.jumpLinkOffset {
  scroll-margin-top: 32px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (max-width: 1024px) {
    text-align: center;
  }

  div:first-child {
    display: flex;
    align-items: center;
    gap: 18px;

    @media (max-width: 1024px) {
      justify-content: center;
    }
  }

  h2 {
    color: var(--blue);
  }

  p {
    font-size: 1.25rem;
    line-height: 30px;
    font-weight: 400;
    color: var(--grey);
    margin: 0;
    max-width: 620px;

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }
}

.pricingCalculatorWrapper {
  display: flex;
  flex-direction: column;
}