.container {
  padding: 16px;
  border-radius: 24px;
  border: 1px solid #5072eb33;
  background: #f9fafc;
  text-align: center;

  @media (max-width: 1150px) {
    display: none;
  }

  &.mobile-only {
    @media (max-width: 767px) {
      display: block;
    }
  }

  h3 {
    color: var(--dark-blue);
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24.2px;
    margin: 20px 0;
    padding: 0 8px;

    span {
      color: var(--blue);
    }
  }
}

.image {
  background: var(--dark-blue) url('../../images/pattern-sidebar-cta.svg') no-repeat bottom left / contain;
  text-align: center;
  border-radius: 16px;
  padding-top: 16px;

  span {
    text-transform: uppercase;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 36px;

    span {
      color: var(--blue);
    }
  }

  &::after {
    content: '';
    display: block;
    width: 224px;
    height: 128px;
    background: url('../../images/build-pipeline.svg') no-repeat bottom / contain;
  }
}
