.sectionText {
  h2 {
    margin: 0 0 24px 0;
    max-width: 560px;
    overflow-wrap: break-word;
    
    @media (max-width: 425px) {
      line-height: 38px;
    }
  }

  p {
    font-size: 1.125rem;
  }
}

.noPadding {
  padding: 0;
}
