@import '../../globalStyles/sections.module.less';
@import '../breakpoints.less';

.globalHeader {
  .globalMaxWidth;

  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 80px;
  top: 0;
  background: var(--dark-blue);

  @media (max-width: 1530px) {
    padding-left: ~'calc(min(2vw,160px))';
    padding-right: ~'calc(min(2vw,160px))';
  }

  @media (max-width: @menuTransitionMaxWidthBreakpoint) {
    padding-left: ~'calc(min(10vw,160px))';
    padding-right: ~'calc(min(10vw,160px))';
  }

  @media (max-width: 425px) {
    padding-left: ~'calc(min(10vw, 20px))';
    padding-right: ~'calc(min(10vw, 20px))';
  }
}

.globalHeaderWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.globalHeaderFixed {
  position: fixed;
  z-index: 9999;
}

.headerBar {
  background-color: var(--dark-blue);
  height: 80px;
  width: 100%;
}

.globalHeaderLinkWrapper {
  display: flex;
  flex-grow: 1;
  gap: 35px;
  justify-content: flex-start;

  @media (max-width: @menuTransitionMaxWidthBreakpoint) {
    .globalMaxWidth;

    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: var(--dark-blue);
    height: calc(100vh - 80px);
    overflow: auto;
  }
}

// TODO: This class does not seem to do anything. Check this later.
.globalHeaderMenuLink {
  text-decoration: none;
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  white-space: nowrap;
  color: red;
}

.globalHeaderMenuChevron {
  margin-left: 8px;
  margin-right: 5px;
}

.globalHeaderChevronDown {
  transform: rotate(90deg);
}

.globalHeaderLoginTry {
  display: flex;

  @media (max-width: @menuTransitionMaxWidthBreakpoint) {
    display: none;
  }
}

.globalHeaderTryItButton {
  height: 40px;
  margin: auto 0;
  text-wrap: nowrap;
}

.headerSocialIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0 1rem 0 2rem;
}

.globalHeaderMobileMenuWrapper {
  display: none;

  @media (max-width: @menuTransitionMaxWidthBreakpoint) {
    display: flex;
  }
}

.globalHeaderMobileMenuButton {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--blue);
  border: none;
  margin: auto 0 auto 20px;
  padding-top: 4px;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 4px;

  svg {
    margin-top: 4px;
  }
}

.headerSocialIcon {
  margin: auto 0;
  min-height: 24px;
  min-width: 24px;
  border-radius: 100%;
  transition: background-color 150ms;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  &:hover {
    @media (min-width: @menuTransitionMinWidthBreakpoint) {
      background-color: var(--header-link-hover);
    }
  }

  @media (max-width: @menuTransitionMaxWidthBreakpoint) {
    display: none;
  }
}