.section {
  background-image: url('../../../images/product-flow-vector-left.svg');
  background-repeat: no-repeat;
  background-position-y: 480px;
  background-size: 35%;
  background-position-y: 100%;
}
