.imgWrapper {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoWrapper {
  width: 100px;
}

.lightLogoWrapper {
  background-color: var(--violet300);
  border-radius: 12px;
  padding: 0 14px;
}

.imgExtraPadding {
  img {
    padding: 12px;
  }
}

.img {
  min-width: 100%;
}

.avatarImg {
  border-radius: 100%;
}