.avatarImg {
  min-width: 67px;
  border-radius: 0;

  @media (max-width: 425px) {
    min-width: 52px;
  }
}

.isSeattleDataGuyLogo {
  border-radius: 100%;
}

.avatarSvg {
  padding: 16px;

  @media (max-width: 425px) {
    padding: 32px;
  }
}

.avatarWrapper {
  width: 67px;
  height: 67px;
  background-color: #a3a7b5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 24px;
  overflow: hidden;

  @media (max-width: 425px) {
    width: 62px;
    height: 62px;
  }
}
