.leftColumn {
    display: flex;
    flex-direction: column;
    padding: 48px;
    background: linear-gradient(60deg, #1B3465 15%, var(--blue));

    h2,
    p {
        color: var(--white);
    }

    h2 {
        font-size: 3rem;
        font-weight: 700;
        line-height: normal;
    }

    p {
        font-size: 1rem;
        margin: 32px 0;
    }

    ul {
        list-style: none;
        margin: 0;

        li {
            display: flex;
            align-items: center;
            gap: 12px;

            p {
                margin: 0;
            }

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                padding: 4px;
                margin: 0;
                background: linear-gradient(to right, var(--green), var(--blue));
            }
        }
    }

    div {
        display: flex;
        align-items: center;
        gap: 12px;
        margin: 32px 0 16px 0;
        max-height: 60px;

        a {
            height: 100%;
            white-space: nowrap;
        }

        @media(max-width: 1156px) {
            flex-direction: column;
            max-height: 100%;

            a {
                width: 100%;
            }
        }
    }

    span {
        font-size: 0.75rem;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    @media (max-width: 425px) {
        padding-bottom: 0;
    }
}

.rightColumn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 48px;

    span {
        color: var(--grey);
    }

    @media (max-width: 780px) {
        padding: 24px;
    }
}

.closeButtonWrapper {
    position: absolute;
    right: 24px;
    top: 24px;
    fill: red;

    @media (max-width: 780px) {
        right: 12px;
        top: 12px;
    }

    svg {
        color: var(--dark-blue);

        @media (max-width: 780px) {
            color: var(--white);
        }
    }
}