@import '../../globalStyles/sections.module.less';

.container {
  max-width: 100vw;
  --slide-gap: 1rem;
  --slide-size: 60%;
  --active-color: var(--blue);
}

.threeItemsSlide {
  --slide-size: 78%;
}

.viewport {
  overflow: hidden;
}

.slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 calc(var(--slide-size) * 1.3);
  margin: 0;
}

.slideWrapper {
  display: flex;
  align-items: stretch;
  touch-action: pan-y pinch-zoom;
  gap: var(--slide-gap);

  .slide:last-of-type {
    @media (min-width: 426px) {
      padding-right: 60px;
    }
  }
}

.oneContentSlide {
  flex: 0 0 calc(var(--slide-size) * 1.68);
}

.navigation {
  text-align: center;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin-top: 60px;

  @media (max-width: 768px) {
    gap: 24px;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.fullWidthNavigation {
  .globalMaxWidth;
  padding-left: 0;
}

.arrow {
  background-color: transparent;
  border: 2px solid var(--active-color);
  border-radius: 4px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:disabled {
    border-color: #5072eb80;
  }
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
}

.dotWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 50%;
  background-color: var(--white);
  color: var(--white);
  border-color: var(--grey);
}

.dotSelected {
  background-color: var(--active-color);
  color: var(--active-color);
  border-color: var(--active-color);
}

.dot {
  cursor: pointer;
  max-width: 20px;
  max-height: 20px;
}