@bigIconSize: 112px;
@middleIconSize: 8vw;
@smallIconSize: 60px;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  border: 1px solid;
  border-radius: 24px;
  padding: 48px;
  min-height: 248px;
  height: 100%;

  p {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
    color: var(--grey);
    margin-bottom: 0;
  }

  svg {
    max-width: @bigIconSize;
    min-width: @bigIconSize;
    max-height: @bigIconSize;
  }

  @media (max-width: 1024px) {
    svg {
      max-width: @middleIconSize;
      min-width: @middleIconSize;
      max-height: @middleIconSize;
    }
  }

  @media (max-width: 524px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 24px;
    gap: 12px;

    svg {
      max-width: @smallIconSize;
      max-height: @smallIconSize;
    }
  }
}