@import '../../globalStyles/wrappers.module.less';

@aboutIconSize: 35px;

.heroContent {
    span {
        margin: 0;
        margin-bottom: 10px;
        color: #5072eb;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.4px;
        text-transform: uppercase;
    }

    h1 {
        color: var(--grey);
        text-transform: none
    }
}

.contentContainer {
    .sectionTopBottomPadding;

    > :nth-child(2) {
        max-width: 500px;
    }
}

.sideContentStyle {
    color: var(--grey);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--dark-blue);
    }

    ul {
        list-style-position: inside;
        margin: 0;
        padding-left: 5px;
    }

    li {
        display: flex;
        gap: 6px;
        font-size: 1rem;

        &::before {
            content: '•';
        }
    }
}

.sideContentStyleHtml {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--light-blue);
    max-width: 500px;

    h2 {
        font-size: 2rem;
    }

    p {
        margin: 0;
    }

    .description {
        p {
            font-size: 1rem;
            font-weight: 400;
            color: var(--grey);
            line-height: 30px;
        }
    }

    .topics {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .topicStyle {
            display: flex;
            gap: 10px;
            align-items: center;

            .icon {
                display: relative;
                min-width: @aboutIconSize;
                min-height: @aboutIconSize;
                max-width: @aboutIconSize;
                max-height: @aboutIconSize;
            }

            .contentStyle {
                color: var(--grey);

                .title {
                    font-size: 0.875rem;
                    font-weight: 500;
                    letter-spacing: 0.4px;
                }

                .description {
                    font-size: 1.125rem;
                    font-weight: 400;
                }
            }
        }
    }
}

.bodyWrapper {
    .defaultWrapperDark;
}

.body {
    .globalMaxWidth;

    .dynamicHtml {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 25px;
        font-weight: 500;
        color: var(--dark-blue);
        margin: 0;
        margin-bottom: 24px;
    }

    p {
        margin: 0;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
    }

    img {
        text-align: center;
    }

    @media (min-width: 1024px) {
        .dynamicHtml {
            gap: 30px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 56px;
        }

        p {
            line-height: 30px;
            justify-content: center;
        }
    }
}

.twoColumns {
    .globalMaxWidth;
    .sectionTopBottomPadding;

    @media (min-width: 1024px) {
        display: flex;
        align-items: center;
        gap: 60px;

        .sideContent {
            font-size: 18px;
            line-height: 30px;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: 24px;
                margin-top: 36px;
            }

            li {
                gap: 10px;
            }
        }

        .about {
            .topics {
                gap: 24px;

                .topicStyle {
                    .icon {
                        min-width: 32px;
                        min-height: 32px;
                        max-width: 32px;
                        max-height: 32px;
                    }

                    .contentStyle {
                        .title {
                            font-size: 14px;
                        }

                        .description {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}