@import '../../globalStyles/sections.module.less';

.header {
  .globalMaxWidth;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigationLinks {
  display: flex;
  gap: 16px;
}