.header {
  h2 {
    color: var(--blue);
  }

  p {
    font-size: 1.25rem;
  }

  a {
    max-width: 220px;
  }

  @media(max-width: 768px) {
    h2 {
      line-height: 33.6px;
    }

    p {
      font-size: 1rem;
      line-height: 30px;
    }

    a {
      max-width: 100%;
    }
  }
}