@import '../styles.module.less';

.buttonStyling {
  .socialShareButton;

  transition: background-color,
    border 300ms ease-in-out;

  background-color: #FFFFFF;
  border-color: #D7DCE5;

  &:hover {
    background-color: #f9fafc;
    border-color: #D7DCE5;
  }
}

.isCopiedStyling {
  background-color: #00A99D30;
  border-color: #00A99D;

  &:hover {
    background-color: #00A99D30;
    border-color: #00A99D;
  }
}