@import '../styles.module.less';

.container {
  display: flex;
  align-items: center;
  gap: 14px;
}

.buttonStyling {
  .socialShareButton;

  transition: background-color,
    border 300ms ease-in-out;

  background-color: var(--white);
  border-color: var(--border-color);

  &:hover {
    background-color: #f9fafc;
    border-color: var(--border-color);
  }
}

.isCopiedStyling {
  background-color: #00A99D30;
  border-color: #00A99D;

  &:hover {
    background-color: #00A99D30;
    border-color: #00A99D;
  }
}

.copyFailed {
  width: 100%;

  .MuiInputBase-input {
    padding: 12px;
  }
}
