.lineBreak {
    @media (min-width: 1024px) {
        display: block;
    }
}

.sectionTitle {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 43px;
    margin: 0;
    color: #47506d;
    text-align: center;

    span {
        color: #5072eb;
    }

    @media (min-width: 1280px) {
        color: var(--dark-blue);
        font-size: 60px;
        line-height: 72px;
    }
}

.tableWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;

    h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #47506d;
        margin: 0;
        text-align: center;

        @media (min-width: 1280px) {
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;
        }
    }

    a {
        @media (max-width: 768px) {
            width: 100%;
        }
    }
}