@import '../../../globalStyles/sections.module.less';

@purple: #A4B6F4;
@darkGreen: #134753;
@lightGreen: #4EFFF2;
@sizeProportionalToViewWidth: 0.7vw;
@sizeProportionalToViewWidth2: 1vw;
@sizeProportionalToViewWidth3: 2vw;
@sizeProportionalToViewWidth4: 2.8vw;

.fullSize {
  width: 100%;
  height: 100%;
}

.centralize {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reverse {
  transform: scaleX(-1);

  span {
    transform: scaleX(-1);
  }
}

.container {
  .globalMaxWidth;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1024px) {
    flex-direction: column-reverse;
    gap: 40px;
  }

  @media (max-width: 425px) {
    gap: 20px;
  }

  h1,
  p {
    color: #fff;
  }

  h1 {
    line-height: 72px;
  }

  p {
    font-size: 1.25rem;
    color: #F2F3F5;
    margin: 0;
  }

  span {
    .fullSize;
    font-size: 0.9vw;
    font-weight: 600;
    line-height: @sizeProportionalToViewWidth2;
    color: #47506D;
    text-align: center;
  }

  @media (min-width: 1441px) {
    span {
      font-size: 0.875rem;
      line-height: 16.3px;
    }
  }

  @media (max-width: 1024px) {
    .leftColumn {
      max-width: 100%;
    }

    span {
      font-size: 1.8vw;
      line-height: 2.2vw;
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 2.5rem;
      line-height: 48px;
    }

    p {
      font-size: 1rem;
    }
  }

  @media (max-width: 425px) {
    h1 {
      font-size: 2.25rem;
      line-height: 43.2px;
    }
  }
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 50%;
  width: 100%;

  div {
    display: flex;
    gap: 16px;
    max-width: 480px;
    flex-direction: row;

    &>a {
      white-space: nowrap;
      width: 100%;
    }

    @media (max-width: 1024px) {
      margin: 0;
    }

    @media (max-width: 360px) {
      flex-direction: column;
    }
  }
}

.solidBorderBox {
  .fullSize;
  background-color: #FFFFFF33;
  padding: @sizeProportionalToViewWidth2;
  top: 26%;
  left: 2%;
  position: absolute;
  border: 1px solid @purple;
  border-top-right-radius: @sizeProportionalToViewWidth2;
  border-bottom-left-radius: @sizeProportionalToViewWidth2;
  max-width: 26%;
  max-height: 36%;

  span {
    .centralize;
    background-color: #D8E1FF;
    border: 1px solid @purple;
    border-top-right-radius: @sizeProportionalToViewWidth;
    border-bottom-left-radius: @sizeProportionalToViewWidth;
  }

  @media (min-width: 1441px) {
    padding: 16px;
  }

  @media (max-width: 1024px) {
    padding: @sizeProportionalToViewWidth3;
    border-top-right-radius: @sizeProportionalToViewWidth4;
    border-bottom-left-radius: @sizeProportionalToViewWidth4;

    span {
      border-top-right-radius: @sizeProportionalToViewWidth3;
      border-bottom-left-radius: @sizeProportionalToViewWidth3;
    }
  }
}

.dashedBorderBox {
  .fullSize;
  position: absolute;
  top: 65%;
  left: 2%;
  border: 1px dashed @purple;
  background-color: #172D48;
  border-top-left-radius: @sizeProportionalToViewWidth;
  border-bottom-right-radius: @sizeProportionalToViewWidth;
  max-width: 11%;
  max-height: 13%;

  span {
    .centralize;
    font-size: @sizeProportionalToViewWidth;
    color: #B8C7F7;
    font-weight: 900;

    @media (min-width: 1441px) {
      font-size: 0.75rem;
    }
  }

  @media (max-width: 1024px) {
    border-top-left-radius: @sizeProportionalToViewWidth3;
    border-bottom-right-radius: @sizeProportionalToViewWidth3;

    span {
      font-size: 1.5vw;
    }
  }
}

.rightColumn {
  position: relative;
  width: 100%;

  div {
    img {
      position: absolute;
    }
  }

  .solidBorderBox:nth-of-type(3) {
    top: 18%;
    left: 31%;
    max-height: 44%;

    span {
      border-top-left-radius: @sizeProportionalToViewWidth;
      border-bottom-right-radius: @sizeProportionalToViewWidth;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;

      @media (max-width: 1024px) {
        border-top-left-radius: @sizeProportionalToViewWidth3;
        border-bottom-right-radius: @sizeProportionalToViewWidth3;
      }
    }
  }

  .solidBorderBox:nth-of-type(4) {
    top: 10%;
    left: 60%;
    max-height: 52%;
  }

  .dashedBorderBox:nth-of-type(5) {
    top: 65%;
    left: 46%;
  }

  .dashedBorderBox:nth-of-type(6) {
    top: 65%;
    left: 87%;
    background-color: @darkGreen;
    border-color: @lightGreen;

    span {
      color: @lightGreen;
    }
  }

  .dashedBorderBox:nth-of-type(7) {
    top: 49%;
    left: 89%;
  }

  .dashedBorderBox:nth-of-type(8) {
    top: 65%;
    left: 70%;
    max-width: 14%;
    max-height: 16%;
    background-color: #152D5B;
    border-color: #5072EB;

    span {
      color: #FFFFFF;
    }
  }

  .dashedBorderBox:nth-of-type(9) {
    top: 65%;
    left: 31%;
    background-color: @darkGreen;
    border-color: @lightGreen;

    span {
      color: @lightGreen;
    }
  }
}