@import '../../globalStyles/sections.module.less';

@primaryTagColor: #6ED5D6;
@secondaryTagColor: #5072EB;

.container {
  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 48px;
    color: #04192B;
    margin-bottom: 40px;

    span {
      color: @secondaryTagColor;
    }
  }

  @media (max-width: 1024px) {
    h2 {
      font-size: 2.25rem;
    }
  }

  @media (max-width: 360px) {
    h2 {
      font-size: 1.5rem;
      line-height: 30px;
      margin-bottom: 24px;
    }
  }
}

.rightColumn {
  @media (max-width: 360px) {
    max-width: calc(100vw - 40px);
  }

  a {
    max-width: 220px;
    margin-top: 16px;
  }
}
