@primaryTagColor: #6ED5D6;
@secondaryTagColor: var(--blue);

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  max-width: 536px;
  width: 100%;
  margin: auto;

  div {
    width: 100%;
  }

  svg {
    min-height: 30px;
  }

  @media (max-width: 600px) {
    svg {
      max-width: 20px;
      max-height: 20px;
    }
  }

  @media (max-width: 360px) {
    gap: 10px;
  }
}

.solidBorderBox {
  border: 1px solid var(--violet300);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  .solidBorderBox {
    height: 100%;
  }

  @media (max-width: 600px) {
    gap: 6px;
    padding: 6px;
  }
}

.secondLevelSolidBorderBox {
  border-radius: 8px;
  background-color: #FCFCFD;

  span {
    font-weight: 500;
  }
}

.dashedBorderBox {
  border: 1px dashed #A4B6F4B2;
  border-radius: 12px;
  padding: 16px;
  background-color: #F5F7FF;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: 100%;

  @media (max-width: 600px) {
    gap: 6px;
    padding: 6px;
  }

  span {
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 14.4px;

    @media (max-width: 600px) {
      font-size: 0.6rem;
    }
  }
}

.middleTag {
  position: absolute;
  top: 46%;
  left: -50%;
  text-align: center;
  display: flex;
  align-items: center;

  span {
    background-color: @primaryTagColor;
    color: var(--white);
    font-size: 0.875rem;
    font-weight: 700;
    padding: 4px 12px;
    white-space: nowrap;
    min-width: 116px;

    @media (max-width: 600px) {
      min-width: 70px;
      font-size: 0.6rem;
      padding: 2px 0;
    }
  }
}

.tagArrow {
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;

  @media (max-width: 600px) {
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
  }
}

.tagArrowLeft {
  border-right: 14px solid @primaryTagColor;

  @media (max-width: 600px) {
    border-right: 9px solid @primaryTagColor;
  }
}

.tagArrowRight {
  border-left: 14px solid @primaryTagColor;

  @media (max-width: 600px) {
    border-left: 9px solid @primaryTagColor;
  }
}

.minHeight {
  align-items: center;
  justify-content: center;
}

.horizontalWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  @media (max-width: 600px) {
    gap: 6px;
  }
}

.privateDeploymentTag {
  @media (max-width: 600px) {
    span {
      padding: 2px 0;
    }
  }
}

.privateLinkTag {
  top: 39%;
  left: 6%;

  @media (max-width: 600px) {
    top: 42%;
    left: 10%;
  }
}

.vpcMarginBottom {
  margin-bottom: 54px;

  @media (max-width: 600px) {
    margin-bottom: 40px;
  }
}

.metadataOnlyDarkerBlueTag {
  top: 70%;

  span {
    background-color: @secondaryTagColor;
  }

  .tagArrowLeft {
    border-right-color: @secondaryTagColor;
  }

  .tagArrowRight {
    border-left-color: @secondaryTagColor;
  }

  @media (max-width: 600px) {
    left: -60%;
    top: 89%;

    span {
      min-width: 80px;
    }
  }
}

.relativePosition {
  position: relative;
}

.ownedByEstuaryBox {
  border-radius: 100px;
  height: fit-content;
  padding: 8px;

  @media (min-width: 601px) {
    min-width: 100px;
  }
}