@import '../../../globalStyles/sections.module.less';

.container {
  .globalMaxWidth;

  h2 {
    color: var(--grey);
    font-style: normal;
    margin-top: 0;
    margin-bottom: 36px;
    text-align: center;
  }
}