.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;

  h3 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 120%;
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 16px;

  p {
    font-size: 1rem;
    line-height: 170%;
    margin: 0;
  }
}