@import '../../globalStyles/sections.module.less';

.container {
    .globalMaxWidth;

    padding-top: 40px;
    padding-bottom: 40px;

    @media (max-width: 768px) {
        display: none;
    }
}

.links {
    font-size: 1rem;
    line-height: 28.8px;
    height: 28.8px;
    list-style-type: none;
    margin: 0;

    li {
        display: inline-block;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: calc(100% - 160px);

        a {
            color: var(--grey);
            font-weight: 400;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.crumbTitle {
    color: var(--blue);
    font-weight: 600;
}

.divider {
    margin: 0 16px;
}