.linkStyling {
  color: #5072eb;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;

  &:hover {
    text-underline-offset: 4px;
    text-decoration: underline;
  }
}