.container {
  h2 {
    text-align: center;

    span {
      color: var(--blue);
    }
  }

  ul {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(289px, 1fr));

    li {
      padding: 20px;
    }

    @media (max-width: 425px) {
      grid-template-columns: repeat(auto-fit, minmax(189px, 1fr));
      gap: 16px;
    }
  }

  p {
    margin: 0;
  }
}