.wrapper {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    list-style: none;
    gap: 20px;
    margin: 0;
    width: 100%;

    li {
      margin: 0;
    }
  }
}