@import '../../../globalStyles/sections.module.less';
@import '../../Table/styles.module.less';

.container {
  .globalMaxWidth;

  display: flex;
  gap: 48px;

  @media (max-width: 1150px) {
    flex-direction: column;
  }

  h2 {
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 2.25rem;

    @media (max-width: 425px) {
      font-size: 2rem;
    }
  }

  h2:not(:first-of-type) {
    margin-top: 60px;
  }

  p,
  .rightColumn li {
    color: var(--grey);
    font-size: 1.25rem;
    line-height: 36px;

    @media (max-width: 425px) {
      font-size: 1rem;
    }
  }

  table {
    .table;

    margin: 24px 0 48px 0;

    thead th:not(:first-of-type) {
      position: sticky;
      top: 116px;
      padding: 0;
    }

    thead {
      th {
        background-color: transparent;
        color: var(--grey);
        font-weight: 600;
        font-size: 1rem;
      }
    }

    td:first-of-type {
      padding: 12px 24px;
    }

    td:last-of-type {
      padding: 12px 24px;
    }

    tr {
      td:first-of-type {
        padding-left: 24px;
      }

      td:last-of-type {
        padding-right: 24px;
      }
    }

    tr:first-of-type {
      th:first-of-type {
        padding-left: 24px;
      }

      th:last-of-type {
        padding-right: 0;
      }
    }

    @media (max-width: 768px) {
      tr {
        td:first-of-type {
          padding: 12px;
        }

        td:last-of-type {
          padding: 12px;
        }
      }

      tr:first-of-type {
        th:last-of-type {
          padding-right: 24px;
        }
      }
    }
  }
}

.bold {
  font-weight: 600;
}