@import '../../../globalStyles/sections.module.less';
@import '../../Table/styles.module.less';

@twoVendorsWidth: 33.333%;
@threeVendorsWidth: 25%;

.container {
  .globalMaxWidth;

  display: flex;
  gap: 48px;

  @media (max-width: 1150px) {
    flex-direction: column;
  }

  h2 {
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 2.25rem;

    @media (max-width: 425px) {
      font-size: 2rem;
    }
  }

  h2:not(:first-of-type) {
    margin-top: 60px;
  }

  p,
  .rightColumn li {
    color: var(--grey);
    font-size: 1.25rem;
    line-height: 36px;

    @media (max-width: 425px) {
      font-size: 1rem;
    }
  }

  table {
    .table;

    margin: 24px 0 48px 0;
    border: none;

    table {
      margin: 0;
    }

    thead th:not(:first-of-type) {
      position: sticky;
      top: 80px;
      padding: 0;
    }

    thead {
      th {
        background-color: transparent;
        color: var(--grey);
        font-weight: 600;
        font-size: 1rem;
      }
    }

    th {
      padding: 0;
    }

    td:first-of-type {
      padding: 12px 24px;
    }

    td:last-of-type {
      padding: 12px 24px;
    }

    td:not(first-of-type) {
      font-weight: 400;
    }

    tr {
      td:first-of-type {
        padding-left: 24px;
      }

      td:last-of-type {
        padding-right: 24px;
      }
    }

    tr:first-of-type {
      th:first-of-type {
        padding-left: 0;
      }

      th:last-of-type {
        padding-right: 0;
      }

      button {
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
      }
    }

    tr:last-of-type {
      table {
        border-bottom: 1px solid var(--violet200);

        tr:last-of-type {
          td:last-of-type {
            border-bottom-right-radius: 32px;
          }

          td:first-of-type {
            border-bottom-left-radius: 32px;
          }
        }
      }

      td:last-of-type {
        border-bottom-right-radius: 0;
      }

      td:first-of-type {
        border-bottom-left-radius: 0;
      }

      button {
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
      }
    }

    @media (max-width: 768px) {
      table tr:first-of-type td:first-of-type {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      tr {
        border: none;
        background-color: transparent;

        table {
          border: 1px solid var(--violet200);
          border-radius: 0;
        }

        td:first-of-type {
          padding: 12px;
        }

        td:last-of-type {
          padding: 12px;
        }
      }

      tr:last-of-type {
        table tr:last-of-type {
          td:first-of-type {
            border-bottom-left-radius: 0;
          }

          td:last-of-type {
            border-bottom-left-radius: 32px;
          }
        }

        table:last-of-type {
          border-bottom-left-radius: 32px;
          border-bottom-right-radius: 32px;
        }
      }

      tr:first-of-type {
        th:last-of-type {
          padding-right: 24px;
        }
      }

      th,
      td {
        width: 100%;
      }

      tr:last-of-type,
      tr:last-of-type td:last-of-type {
        border-bottom-left-radius: 0;
      }
    }
  }
}

.bold {
  font-weight: 600;
}

.twoVendorsWidthSplit {
  th {
    width: @twoVendorsWidth;
  }

  td {
    width: @twoVendorsWidth;
  }
}

.threeVendorsWidthSplit {
  th {
    width: @threeVendorsWidth;
  }

  td {
    width: @threeVendorsWidth;
  }
}