@import '../../globalStyles/sections.module.less';

.sectionOne {
  .globalMaxWidth;

  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sectionOneBackgroundImageWrapper {
  .sectionTopBottomPadding;

  display: flex;
  width: 100%;
  background-image: url('../../images/product-flow-section-one-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.sectionOneLeft {
  display: flex;
  flex-direction: column;

  h1 {
    width: 500px;

    @media (max-width: 810px) {
      max-width: 300px;
      font-size: 3rem;
    }
  }

  p {
    font-size: var(--fontSize-1);
    color: var(--grey);

    @media (max-width: 810px) {
      font-size: var(--fontSize-0);
    }
  }
}

.sectionOneRight {
  display: flex;

  @media (max-width: 810px) {
    display: none;
  }
}

.bannerWrapper {
  display: flex;
  justify-content: center;
  padding-left: ~'calc(min(9%, 146px))';
  padding-right: ~'calc(min(9%, 146px))';
  margin-top: -80px;

  @media (max-width: 810px) {
    margin-top: 32px;
  }
}

.sectionWrapper {
  display: flex;
  justify-content: space-between;
  padding-left: ~'calc(min(9%, 146px))';
  padding-right: ~'calc(min(9%, 146px))';
  margin-top: 120px;

  @media (max-width: 810px) {
    flex-direction: column;
    margin-top: 32px;
  }

  p {
    color: var(--grey);
    line-height: 30px;
  
    @media (max-width: 810px) {
      font-size: var(--fontSize-0);
      line-height: 22px;
    }
  }
}

.subtextBold {
  font-weight: 700;
  margin-top: 40px;
}

.subtext {
  margin: 25px 0px;
}

.sectionTextWrapper {
  flex: 1 1 auto;

  @media (max-width: 810px) {
    width: 100%;
    margin-bottom: 2rem;
  }

  h2 {
    margin-top: 12px;

    @media (max-width: 810px) {
      font-size: 1.75rem;
    }
  }
}

.sectionImageWrapper {
  display: flex;
  flex: 1 0 40%;
  justify-content: right;

  &:first-child {
    margin-right: 3rem;
  }

  @media (max-width: 810px) {
    max-height: 280px;
    margin-right: 0px !important;
    justify-content: center;
  }
}

.marginBottom {
  margin-bottom: 100px;
}

.sectionImageWrapperRight {
  display: flex;
  flex-direction: column;
  flex: 1 0 40%;
}

.sectionLogoRight {
  display: flex;
  justify-content: flex-end;

  @media (max-width: 810px) {
    margin-bottom: -1em;
    margin-top: -4rem;
    margin-right: 0;
    max-height: 30px;
  }
}

.mobileFlexDirectionReverse {
  @media (max-width: 810px) {
    flex-direction: column-reverse;
  }
}