@import '../../../globalStyles/wrappers.module.less';

.wrapper {
  .defaultWrapperDarkBlue;
  overflow: hidden;
}

.container {
  .globalMaxWidth;
  padding: 0;

  h2 {
    color: var(--white);
    margin-bottom: 60px;
  }
}

.sectionTitleWithGlobalMaxWidth {
  .globalMaxWidth;
}