@import '../../../globalStyles/wrappers.module.less';

.wrapper {
  .defaultWrapperDarkBlue;
  overflow: hidden;
  padding-left: 0;
  padding-right: 60px;
}

.container {
  .globalMaxWidth;
  padding: 0;

  h2 {
    color: var(--white);
    margin-bottom: 60px;
  }
}

.titleWithGlobalMaxWidth {
  .globalMaxWidth;
}