@import '../../globalStyles/sections.module.less';

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    p {
        margin-top: 24px;
        font-size: 1.25rem;
        color: var(--white);
        margin: 0 0 8px 0;

        @media (max-width: 768px) {
            font-size: 1rem;
        }

        @media (max-width: 425px) {
            font-size: 0.875rem;
        }

        span:nth-of-type(2n) {
            color: var(--violet);
        }
    }
}

.buttonsWrapper {
    display: flex;
    gap: 24px;

    @media (max-width: 580px) {
        flex-direction: column;
    }

    a {
        white-space: nowrap;

        @media (max-width: 768px) {
            width: 50%;
        }

        @media (max-width: 580px) {
            width: 100%;
        }
    }
}
