@import '../../../globalStyles/sections.module.less';

.wrapper {
  a {
    @media (min-width: 769px) {
      max-width: 220px;
      width: 100%;
    }
  }

  ul {
    .globalMaxWidth;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 54px;

    @media (max-width: 768px) {
      gap: 24px;
    }
  }

  li {
    background-color: var(--blue-5-opacity);
    border: 1px solid var(--blue-20-opacity);
    border-radius: 20px;
    padding: 32px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}