.rightColumn {
  width: 100%;
  position: relative;
}

.vendorLogo {
  position: absolute;
  max-width: 9%;
  z-index: 1;
}

.leftVendorLogo {
  top: 64.5%;
  right: 78.5%;
}

.rightVendorLogo {
  top: 64.5%;
  left: 78.5%;
}
