@import '../../globalStyles/sections.module.less';

.container {
  background: var(--white);
}

.hero {
  .globalMaxWidth;

  margin: 0 auto;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

  @media (max-width: 1260px) {
    max-width: calc(100% - 40px);
  }

  @media (max-width: 767px) {
    max-width: calc(100% - 32px);
    flex-direction: column-reverse;
  }
}

.heroLeft {
  max-width: 700px;
  width: 100%;

  @media (max-width: 767px) {
    margin-bottom: 16px;
  }

  h1 {
    font-weight: 500;
    font-size: 71px;
    line-height: 86px;
    color: var(--dark-blue);
    margin-bottom: 40px;

    @media (max-width: 767px) {
      font-size: 48px;
      line-height: 60px;
      margin-bottom: 16px;
    }
  }

  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--grey);

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.heroRight {
  @media (max-width: 767px) {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  svg {
    @media (max-width: 767px) {
      width: 100%;
      height: auto;
    }
  }
}

.episodes {
  .globalMaxWidth;
}

.episodesHeading {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: var(--dark-blue);
  margin-bottom: 24px;

  @media (max-width: 767px) {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 16px;
  }
}

.subscribe {
  background: var(--light-blue);
}

.subscribeWrap {
  .globalMaxWidth;

  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
}

.subscribeLeft {
  max-width: 640px;
  width: 100%;

  @media (max-width: 991px) {
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    font-weight: 500;
    font-size: 56px;
    line-height: 68px;
    color: var(--dark-blue);
    margin-bottom: 40px;

    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      margin-bottom: 16px;
    }
  }
}

.subscribeYoutube {
  max-width: 640px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: var(--grey);
  margin-bottom: 40px;
  gap: 20px;
  flex-wrap: wrap;

  @media (max-width: 767px) {
    flex-direction: column;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 32px;
  }

  span {
    @media (max-width: 767px) {
      margin-bottom: 16px;
    }
  }

  a {
    img {
      @media (max-width: 767px) {
        max-width: 165px;
      }
    }
  }
}

.subscribeSubheading {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: var(--grey);
  margin-bottom: 24px;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 16px;
  }
}

.subscribeRight {
  @media (max-width: 991px) {
    display: none;
  }
}