@import '../../globalStyles/sections.module.less';

.container {
  background: #fff;
}

.hero {
  .sectionTopBottomPadding;
}

.heroContainer {
  .globalMaxWidth;

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1260px) {
      max-width: calc(100% - 40px);
  }

  @media (max-width: 767px) {
      max-width: calc(100% - 32px);
      flex-direction: column;
  }
}

.heroLeft {
  max-width: 700px;
  width: 100%;

  @media (max-width: 767px) {
      margin-bottom: 16px;
  }
}

.heroHeading {
  font-weight: 500;
  font-size: 71px;
  line-height: 86px;
  color: #04192b;
  margin-bottom: 40px;

  @media (max-width: 767px) {
      font-size: 48px;
      line-height: 60px;
      margin-bottom: 16px;
  }
}

.heroSubheading {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #47506d;

  @media (max-width: 767px) {
      font-size: 14px;
      line-height: 22px;
  }
}

.heroRight {
  @media (max-width: 767px) {
      max-width: 50%;
      margin-left: auto;
      margin-right: auto;
  }

  svg {
      @media (max-width: 767px) {
          width: 100%;
          height: auto;
      }
  }
}

.episodes {
  .sectionTopBottomPadding;
}

.episodesWrap {
  .globalMaxWidth;
}

.episodesHeading {
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #04192b;
  margin-bottom: 24px;

  @media (max-width: 767px) {
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 16px;
  }
}

.episodeItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 64px;

  @media (max-width: 767px) {
      flex-direction: column;
      border-bottom: 1px solid #d7dce5;
      padding-bottom: 16px;
      margin-bottom: 16px;
  }

  &:last-child {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
  }
}

.episodeLeft {
  max-width: 600px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #d7dce5;
  border-radius: 8px;
  padding: 16px;

  @media (max-width: 767px) {
      max-width: 550px;
      margin-bottom: 16px;
  }
}

.episodeRight {
  max-width: 638px;
  width: 100%;
  padding-left: 48px;

  @media (max-width: 767px) {
      max-width: 100%;
      padding-left: 0;
  }
}

.episodeHeading {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #47506d;
  margin-bottom: 12px;

  @media (max-width: 767px) {
      font-size: 18px;
      line-height: 26px;
  }
}

.episodeDescription {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #47506d;
  margin-bottom: 40px;

  @media (max-width: 767px) {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 32px;
  }
}

.linksWrap {
  display: flex;
  flex-direction: column;
  width: fit-content;

  @media (max-width: 767px) {
      align-items: center;
  }

  a {
      margin-bottom: 12px;

      &:hover {
          opacity: 0.9;
      }

      &:last-child {
          margin-bottom: 0;
      }

      svg {
          @media (max-width: 767px) {
              width: 190px;
              height: auto;
          }
      }
  }
}

.subscribe {
  .sectionTopBottomPadding;
  background: #f9fafc;
}

.subscribeWrap {
  .globalMaxWidth;

  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
}

.subscribeLeft {
  max-width: 640px;
  width: 100%;

  @media (max-width: 991px) {
      margin-left: auto;
      margin-right: auto;
  }
}

.subscribeHeading {
  font-weight: 500;
  font-size: 56px;
  line-height: 68px;
  color: #04192b;
  margin-bottom: 40px;

  @media (max-width: 767px) {
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      margin-bottom: 16px;
  }
}

.subscribeYoutube {
  max-width: 640px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #47506d;
  margin-bottom: 40px;
  gap: 20px;
  flex-wrap: wrap;

  @media (max-width: 767px) {
      flex-direction: column;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 32px;
  }

  span {
      @media (max-width: 767px) {
          margin-bottom: 16px;
      }
  }

  a {
      img {
          @media (max-width: 767px) {
              max-width: 165px;
          }
      }
  }
}

.subscribeSubheading {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #47506d;
  margin-bottom: 24px;

  @media (max-width: 767px) {
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      margin-bottom: 16px;
  }
}

.subscribeRight {
  @media (max-width: 991px) {
      display: none;
  }
}
